asgiref
cachetools
certifi
charset-normalizer
Django
djangorestframework
djangorestframework-simplejwt
drf-yasg
flake8
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
idna
inflection
mccabe
packaging
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycodestyle
pyflakes
PyJWT
pyotp
pyparsing
python-dateutil
python-dotenv
python-http-client
pytz
PyYAML
requests
rsa
sendgrid
six
sqlparse
starkbank-ecdsa
typing_extensions
tzdata
uritemplate
urllib3
